body {
    background-color: lightcoral;
    margin: 0px;
}

h1 {

    background-color: rgb(200, 100, 100);

    display: flex;
    justify-content: center;

    color: white;
    font-size: 50px;
    font-family: "Roboto Condensed", sans-serif;

    padding: 10px;
}

nav ul {

    display:flex;
    justify-content: center;

    list-style-type: none;

    margin: 0px;
    padding: 0px;
}

nav li {

    background-color: rgb(200, 100, 100);

    padding: 10px;
    margin: 10px;

    border-radius: 10px;
}

nav a {

    font-family: "Roboto Condensed", sans-serif; 
    font-size: 50px;
    text-decoration: none;
    color: white;
}

.topHome {

    display:flex;
    justify-content: center;

    background-color: rgb(200, 100, 100);

    color: white;
    font-size: 30px;
    font-family: "Roboto Condensed", sans-serif;

    margin: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 10px;
}